<div class="input-group">
    <input name="dateFilter" [(ngModel)]="dateFilter" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" class="form-control" placeholder="Date filter">
</div>     
<table class="table table-hover">
    <th>Client</th>
    <th>Model</th>
    <th>Booking Date</th>
    <th>Notes</th>
    <th>Delete</th>
    <tr *ngFor="let v of service.list | myfilter:dateFilter">
        <td (click)="populateForm(v)">{{v.client}}</td>
        <td (click)="populateForm(v)">{{v.model}}</td>
        <td (click)="populateForm(v)">{{v.bookingDate}}</td>
        <td (click)="populateForm(v)">{{v.notes}}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(v.id)"></i>
        </td>
    </tr>
</table>
<div class="info">To edit, click on a row, edit details in the register form, and click submit</div>
<br>
<div style="float: right">
    <button class="btn btn-success" (click)="filterUpcoming()">Filter upcoming only</button>
</div>
<div style="float: left">
    <button class="btn btn-success float: right" (click)="filterNormal()">Show all</button>
</div>




